In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('영통구.csv')

In [4]:
df = df[["지역코드","법정동","거래일","아파트","지번","전용면적","층","건축년도","거래금액"]]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7250 entries, 0 to 7249
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역코드    7250 non-null   int64
 1   법정동     7250 non-null   object
 2   거래일     7250 non-null   object
 3   아파트     7250 non-null   object
 4   지번      7250 non-null   object
 5   전용면적    7250 non-null   float64
 6   층       7250 non-null   int64
 7   건축년도    7250 non-null   int64
 8   거래금액    7250 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 509.9+ KB

In [ ]:
df.loc